.bg-container {
  background-image: linear-gradient(135deg, #9796f0, #fbc7d4);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
  padding: 20px;
}
.emoji-card-container {
  max-width: 500px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .emoji-card-container {
    max-width: 900px;
  }
}
