.navbar {
  background-color: #b3b1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0px 20px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 30px;
}
.scoreboard {
  display: flex;
  font-size: 18px;
}
.score {
  margin-right: 10px;
}
.logo-title {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .logo-title {
    font-size: 24px;
  }
  .navbar {
    padding: 0px 80px;
  }
  .logo {
    width: 50px;
  }
  .score {
    margin-right: 30px;
  }
}
